main, h1{ padding: 1em;}

h1{
  color: orangered;
}

html{
  background-color: lightgray;
}

img{
  height: 15rem;
  width: 250px;
  border-radius: 30px;
  box-shadow: 10px 5px 5px grey;
}

main p{
  background-color: gainsboro;
  color: orangered;
}

main li{
  border: thin solid black;
  padding: 1em;
  background-color: gainsboro; 
  list-style-type: none;
  box-shadow: 10px 5px 5px grey;
}
header li{
  list-style-type: none;
}
footer{
  border: thin solid black;
}
footer p{
  color: orangered
}
